asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.1
Django==5.1.2
django-allauth==65.0.2
django-appconf==1.0.6
django-compressor==4.5.1
django-htmx==1.19.0
django-widget-tweaks==1.5.0
idna==3.10
oauthlib==3.2.2
pycparser==2.22
PyJWT==2.9.0
rcssmin==1.1.2
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
